
header, footer {
    background-color: aquamarine;
    text-align: center;
    width: 100%;
    padding: 3px;
      
}
nav {
    background-color: aqua; 
    width: 100%;
    padding: 3px;
        
}

h1, h2 {
    text-align: center;
    text-decoration-style: solid;
}

.video {
    text-align: center;

}

.mainimage {
    background-color: brown;
    width: 100%;
    margin-bottom: 20px;
}

.image {
    width: 50%;
    float: left;
}

img {
    width: 100%;
}

aside {
    width: 40%;
    float: right;
    background-color: aquamarine;
    text-align: center;
    padding: 3px  thin solid black;
    border: solid black;
}

table  {
    width: 100%; 
       
}

thead {
    border: solid black;
}

.articles {
    clear: both;
}

