header, footer {
    background-color: aquamarine;
    margin: 0px;
    padding: 10px;
    text-align: center;

}
nav {
    background-color: aqua;
    padding: 3px;
}
.video {
    text-align: center;

}

aside {
    float: right;
    
}

.image {
    float: left;
}